In [1]:
import pandas as pd

In [50]:
df = pd.read_csv('data/debt_92-05.csv', sep=';')
df['value'] = pd.to_numeric(df['value'], errors='coerce')
df['time'] = pd.to_datetime(df['time']).dt.year

In [51]:
# get total annual debt by year for Berlin on a state level
filtered_df = df[df['1_variable_attribute_label'] == "Berlin"]
filtered_df = filtered_df[filtered_df['2_variable_attribute_label'] == "LÃ¤nder"]
filtered_df['total_annual_debt'] = filtered_df.groupby('time')['value'].transform('sum')
filtered_df = filtered_df.groupby('time')['total_annual_debt'].agg(lambda x: list(x)[0]).reset_index()
filtered_df

    time  total_annual_debt
0   1992            13069.0
1   1993            16053.0
2   1994            18454.0
3   1995            23700.0
4   1996            26911.0
5   1997            29000.0
6   1998            31211.0
7   1999            33231.0
8   2000            34936.0
9   2001            39778.0
10  2002            46016.0
11  2003            50039.0
12  2004            55128.0
13  2005            58580.0